<%= form_with(model: @movie, local: true) do |form|%>
	<div>
		<%= form.label "Titulo" %>
		<%= form.text_field :name %>
	</div>
	<div>
		<%= form.label "Sinopsis" %>
		<%= form.text_area :description %>
	</div>
	<div>
		<%= form.label "Poster Url" %>
		<%= form.text_area :imageurl %>
	</div>
	<div>
		<%= form.label "Fechas" %>
		<%= form.date_field :datebegin %><%= form.date_field :end %>
	</div>
	<dir>
		<%= form.submit %>
	</dir>
<% end %>