    <div class="row" >
        <!-- Sidebar  -->
        <nav id="sidebar" class="col-sm-2">
            <div class="sidebar-header">
                <h3>Place It</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                	<%= link_to "Peliculas", '/movies', method: :get  %>
                </li>
                <li>
                	<%= link_to "Reservas", '/reservations', method: :get  %>
                </li>                
            </ul>            
        </nav>

        <!-- Page Content  -->
        <div id="content" class="col-sm-10">

            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">

                	<div class="col-6"  >
                		<h2>Peliculas</h2>	
                	</div>
                	<div class="col-6"  >
                		<%= button_to 'Crear nueva pelicula', '/movies/new', method: :get , class:"btn btn-primary" %>						
                	</div>
                </div>	                
            </nav>
            <div class="row">
            	<div id="datefilter" class="col-sm-12"  >
            		<form>
            			Seleccionar fecha
            			<input type="date" name="date">
            		</form>
            	</div>                	
            </div>

            <div class="row">
            
	            <% @movies.each do |movie| %>
	            	<div class="poster col-sm-3">
	            		<div class="overlay">			                
			            </div>
		            	<img src="<%= movie.imageurl %>">						
						<button class="btn btn-primary">Reservar</button>
		            </div>
					
				<%end%>
			</div>	


            <div class="line"></div>

            
        </div>
    </div>
