<%= form_with(model: @reservation, local: true) do |form|%>
	<div>
		<%= form.label "Nombre" %>
		<%= form.text_field :name %>
	</div>
	<div>
		<%= form.label "Celular" %>
		<%= form.text_field :celphone %>
	</div>
	<div>
		<%= form.label "Cedula" %>
		<%= form.text_field :identification %>
	</div>
	<div>
		<%= form.label "Correo" %>
		<%= form.text_field :mail %>
	</div>
	<dir>
		<%= form.submit %>
	</dir>
<% end %>