    <div class="row" >
        <!-- Sidebar  -->
        <nav id="sidebar" class="col-sm-2">
            <div class="sidebar-header">
                <h3>Place It</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                	<%= link_to "Peliculas", '/movies/', method: :get  %>
                </li>
                <li>
                	<%= link_to "Reservas", '/reservations/', method: :get  %>
                </li>                
            </ul>            
        </nav>

        <!-- Page Content  -->
        <div id="content" class="col-sm-10">

            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">

                	<div class="col-6"  >
                		<h2>Reservas realizadas</h2>	
                	</div>                	
                </div>	                
            </nav>
            <div class="row">
            	<div id="datefilter" class="col-sm-12"  >
            		<form>
            			Seleccionar fecha
            			<input type="date" name="date">
            		</form>
            	</div>                	
            </div>

            <div class="row">
            
            	<table >
				  <tr>
				    <th>Pelicula</th>
				    <th>Nombre</th>
				    <th>Correo</th>
				    <th>Cedula</th>
				    <th>Celular</th>
				  </tr>				  
		            <% @reservations.each do |reservation| %>
		            	<tr>
						    <td><%= reservation.name %></td>
						    <td><%= reservation.name %></td>
						    <td><%= reservation.mail %></td>
						    <td><%= reservation.identification %></td>
						    <td><%= reservation.celphone %></td>    
						 </tr>		            	
					<%end%>
				</table>
			</div>	


            <div class="line"></div>

            
        </div>
    </div>
