@import '~bootstrap/scss/bootstrap';

#sidebar{
    background: #007eff;
    color: #fff;
    padding: 3% 4%;
}

#sidebar a {
    color: #d0d0d0;    
}

#sidebar li {
    margin: 20% 0px;
}

.poster {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 2% 0;
}

.poster img {
  width: 90%;
  margin: 0 5%;
  height: auto;
}

.poster .btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}


.poster .btn {
   display:none;
}


.poster:hover .btn {
   display:block;
}

.overlay {                      
    display: none;  
}

.poster:hover .overlay { 
    display: block;
    position: absolute;
    width: 90%;
    margin: 0 5%;
    height: 100%;
    background: #007eff;
    opacity: 0.7;
    top: 0;
}


#datefilter{
	margin: 5% 0;
}